<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog | <%- title %></title>
    <style>
        nav {
            background-color: lightgreen;
            padding: 20px;
            display: flex;
            justify-content: space-between;
        }
        * {
            margin: 0px;
            padding: 0px;
        }
        a {
            text-decoration: none;
            margin: 0 20px;
            font-size: 18px;
        }
        nav a {
            color: white;
        }
        nav a:hover {
            color: green;
        }
        nav h1 a {
            font-size: 22px;
        }
        .container {
            margin: 20px;
        }
        .blog-card{
            margin: 20px 0;
        }

    </style>
  </head>