<!DOCTYPE html>
<html lang="en">
  <%- include('./components/head.ejs') %>

  <body>
    <%- include('./components/navbar.ejs') %>

    <div class="container">
      <h3>Contact Page</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto expedita, mollitia officia cupiditate possimus accusantium praesentium ullam. Accusantium sapiente hic amet atque, quo dicta facilis quibusdam, dolores tenetur ipsam mollitia?
      </p><br>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto expedita, mollitia officia cupiditate possimus accusantium praesentium ullam. Accusantium sapiente hic amet atque, quo dicta facilis quibusdam, dolores tenetur ipsam mollitia?
      </p>
    </div>
  </body>
</html>
