nav {
    background-color: lightgreen;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
* {
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
}
nav a {
    color: white;
}
nav a:hover {
    color: green;
}
nav h1 a {
    font-size: 22px;
}
.container {
    margin: 20px;
}
.blog-card{
    margin: 20px 0;
}
.blog-form {
    max-width: 800px;
    margin: auto;
    border: 1px solid lightgreen;
    padding: 40px;
  }
  
  .blog-form h1 {
    color: green;
  }
  
  .form-group {
    margin: 10px 0;
  }
  .form-group label {
    font-size: 18px;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid green;
  }
  
  .blog-create-btn {
    background-color: green;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid green;
    color: white;
  }